.MapContent {
  display: flex;
  justify-content: space-evenly;
}

.MapContainer {
  height: 400px;
  width: 48vw;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.mapTitleText {
  width: 100%;
  padding: 8px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.3px;
  background: #FF7B58;
  color: #ffffff;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.05);
}

.conditionsTitleText {
  width: 100%;
  padding: 8px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.3px;
  background: #595959;
  color: #ffffff;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.05);
}